# Parsing Coronavirus Data

In [1]:
import pandas as pd
pd.set_option('display.max_rows', 500)

## our world in data

In [4]:
url = "https://covid.ourworldindata.org/data/owid-covid-data.csv"
df = pd.read_csv(url, index_col="date", parse_dates=True)
df

,iso_code,continent,location,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,total_deaths_per_million,...,aged_65_older,aged_70_older,gdp_per_capita,extreme_poverty,cvd_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand
date,,,,,,,,,,,,,,,,,,,,,
2019-12-31,AFG,Asia,Afghanistan,0,0,0,0,0.0,0.0,0.0,...,2.581,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5
2020-01-01,AFG,Asia,Afghanistan,0,0,0,0,0.0,0.0,0.0,...,2.581,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5
2020-01-02,AFG,Asia,Afghanistan,0,0,0,0,0.0,0.0,0.0,...,2.581,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5
2020-01-03,AFG,Asia,Afghanistan,0,0,0,0,0.0,0.0,0.0,...,2.581,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5
2020-01-04,AFG,Asia,Afghanistan,0,0,0,0,0.0,0.0,0.0,...,2.581,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-02-28,NaN,NaN,International,705,0,4,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-02-29,NaN,NaN,International,705,0,6,2,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-03-01,NaN,NaN,International,705,0,6,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-03-02,NaN,NaN,International,705,0,6,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-03-10,NaN,NaN,International,696,-9,7,1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df.columns

Index(['iso_code', 'continent', 'location', 'total_cases', 'new_cases',
       'total_deaths', 'new_deaths', 'total_cases_per_million',
       'new_cases_per_million', 'total_deaths_per_million',
       'new_deaths_per_million', 'total_tests', 'new_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand', 'tests_units',
       'stringency_index', 'population', 'population_density', 'median_age',
       'aged_65_older', 'aged_70_older', 'gdp_per_capita', 'extreme_poverty',
       'cvd_death_rate', 'diabetes_prevalence', 'female_smokers',
       'male_smokers', 'handwashing_facilities', 'hospital_beds_per_thousand'],
      dtype='object')

## new york times

#### Grab raw data from nytimes website

In [3]:
url = "https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-counties.csv"
df = pd.read_csv(url, index_col="date", parse_dates=True)

In [4]:
df.head()  # table for all counties, first 5 entries

               county       state     fips  cases  deaths
date
2020-01-21  Snohomish  Washington  53061.0      1       0
2020-01-22  Snohomish  Washington  53061.0      1       0
2020-01-23  Snohomish  Washington  53061.0      1       0
2020-01-24       Cook    Illinois  17031.0      1       0
2020-01-24  Snohomish  Washington  53061.0      1       0

#### Pull only King County's data

In [4]:
kc = df.query("county == 'King'").copy()
kc.sort_values(by="date", inplace=True)
kc.head()

           county       state     fips  cases  deaths
date
2020-02-28   King  Washington  53033.0      1       0
2020-02-29   King  Washington  53033.0      4       1
2020-03-01   King  Washington  53033.0     11       3
2020-03-02   King  Washington  53033.0     15       6
2020-03-03   King  Washington  53033.0     22      10

In [1]:
kc.pivot()

NameError: name 'kc' is not defined

#### Save to csv

In [6]:
# change name inside parenthesis to the filename
# if you want the csv for all counties, it's under the variable name "df" instead of "kc"
kc.to_csv("king_county.csv")

## coronadatascraper

## hopkins

In [8]:
# data here: https://github.com/CSSEGISandData/COVID-19